@using HomemadeLMS.Models.Domain
@model AccountAndObject<Account>
@{
	ViewData["Title"] = "Аккаунт";

	var navbarMenu = MenuBuilder.DefaultNavbarMenu;
	if (Model.Account.Username == Model.Object.Username)
	{
		var popupMenu = new Menu();
		popupMenu.LinkGroups.Add(new());
		popupMenu.LinkGroups[0].Items.Add(new LinkItem { Href = "/signout", Label = "Выйти", LinkCategory = LinkCategory.Danger });
		ViewData["PopupMenu"] = popupMenu;
		navbarMenu.Items.RemoveAt(0);
	}
	else
	{
		navbarMenu.Items[0].Label = "Мой аккаунт";
	}
	ViewData["NavbarMenu"] = navbarMenu;

	var roleName = Model.Object.Role switch
	{
		UserRole.Student => "Студент",
		UserRole.Teacher => "Преподаватель",
		UserRole.Manager => "Менеджер",
		_ => string.Empty,
	};
}

<p class="fw-bold">@Model.Object.Username</p>
<p class="fw-bold">@roleName</p>
@if (Model.Account.CanChangeRoleOf(Model.Object))
{
	<div class="mt-5"></div>
	<form method="POST">
		<div class="d-inline-flex">
			<div>
				<select class="form-control text-center" name="roleCode">
					<option value="">Выбрать роль</option>
					<option value="@UserRole.Student.ToString()">Студент</option>
					<option value="@UserRole.Teacher.ToString()">Преподаватель</option>
					<option value="@UserRole.Manager.ToString()">Менеджер</option>
				</select>
			</div>
			<div class="ms-4"></div>
			<button type="submit" class="btn btn-secondary">Изменить роль</button>
		</div>
	</form>
}
