@using HomemadeLMS.Models.Domain
@model AccountAndObject<Account>
@{
	ViewData["Title"] = "Account";

	var linkItemGroup = new LinkGroup();
	if (Model.Account.Username == Model.Object.Username)
	{
		var popupMenu = new Menu();
		popupMenu.LinkGroups.Add(new());
		popupMenu.LinkGroups[0].Items.Add(new LinkItem { Href = "/signout", Label = "Выйти", LinkCategory = LinkCategory.Danger });
		ViewData["PopupMenu"] = popupMenu;
	}
	else
	{
		linkItemGroup.Items.Add(new LinkItem { Href = "/account", Label = "Мой аккаунт" });
	}
	linkItemGroup.Items.Add(new LinkItem { Href = "/course", Label = "Курсы" });
	ViewData["NavbarMenu"] = linkItemGroup;

}

<p>username: @Model.Object.Username</p>
<p>role: @Model.Object.Role.ToString()</p>
@if (Model.Account.CanChangeRoleOf(Model.Object)) {
	<form class="mt-5" method="POST">
		<div class="d-inline-flex mb-4">
			<div>
				<select class="form-control text-center" id="roleCodeInput" name="roleCode">
					<option value="">Выбрать роль</option>
					<option value="@UserRole.Student.ToString()">Студент</option>
					<option value="@UserRole.Teacher.ToString()">Преподаватель</option>
					<option value="@UserRole.Manager.ToString()">Менеджер</option>
				</select>
			</div>
		</div>
		<div class="d-inline-flex mb-4 ms-4">
			<button type="submit" class="btn btn-secondary">Изменить роль</button>
		</div>
	</form>
}
