@using HomemadeLMS.Models.Domain
@model CourseAndObject<MemberInfo>
@{
	ViewData["Title"] = "Участник";
	ViewData["NavbarMenu"] = MenuBuilder.DefaultNavbarMenu;

	var otherAccount = Model.Object.Account;
	var otherMember = Model.Object.Member;
	var roleName = otherMember.Role switch
	{
		CourseRole.Student => "Студент",
		CourseRole.Assistant => "Ассистент",
		CourseRole.Teacher => "Преподаватель",
		_ => string.Empty,
	};
}

@if (otherAccount is not null && otherAccount.Name is not null)
{
	<h6 class="fw-bold">@otherAccount.Name</h6>
	<div class="mt-5"></div>
	<label>Адрес почты: @otherAccount.EmailAddress</label>
	<div class="mt-3"></div>
	<label>Телеграм: <label class="text-success fw-bold">@otherAccount.TelegramUsername</label></label>
	<div class="mt-4"></div>
}
<label>Аккаунт: <a href="/account?username=@otherMember.Username">@otherMember.Username</a></label>
<div class="mt-4"></div>
<label>@roleName</label>
@if (Model.IsCourseEditable)
{
	<div class="mt-5"></div>
	<form method="POST">
		<div class="d-inline-flex">
			<div>
				<select class="form-control text-center" name="roleCode">
					<option value="">Выбрать роль</option>
					<option value="@CourseRole.Student.ToString()">Студент</option>
					<option value="@CourseRole.Assistant.ToString()">Ассистент</option>
					<option value="@CourseRole.Teacher.ToString()">Преподаватель</option>
				</select>
			</div>
			<div class="ms-4"></div>
			<button type="submit" class="btn btn-secondary">Изменить роль</button>
		</div>
	</form>
	<div class="mt-5"></div>
	<a href="/course/members/?courseId=@Model.Course.Id">Все участники</a>
}
