@using HomemadeLMS.Models.Domain
@model AccountAndObject<Course>
@{
	ViewData["Title"] = "Курс";
	ViewData["NavbarMenu"] = MenuBuilder.DefaultNavbarMenu;

	var course = Model.Object;
	var ownerUrl = $"/course/member?courseId={course.Id}&username={course.OwnerUsername}";
}

<div class="col-12 col-md-10 col-lg-8 col-xl-6">
	<h6>@course.Title</h6>
	@if (DataUtils.IsValuable(course.Description))
	{
		<div class="mt-4"></div>
		<div class="d-inline-flex" align="left">
			<pre class="pre-vertical">@course.Description</pre>
		</div>
	}
	@if (DataUtils.IsValuable(course.SmartLmsUrl))
	{
		<div class="mt-4"></div>
		<a href="@course.SmartLmsUrl">Cсылка на курс в SmartLMS</a>
	}
	@if (DataUtils.IsValuable(course.PldUrl))
	{
		var marginSize = (DataUtils.IsValuable(course.SmartLmsUrl) ? 2 : 4);

		<div class="mt-@marginSize"></div>
		<a href="@course.PldUrl">Cсылка на ПУД</a>
	}

	<div class="mt-5"></div>
	<label>Владелец: <a href=@ownerUrl>@course.OwnerUsername</a></label>

	<div class="mt-5"></div>
	<a href="/course/tasks?courseId=@course.Id">Задания</a>
	<a class="ms-4" href="/course/announcements?courseId=@course.Id">Объявления</a>
	<a class="ms-4" href="/course/members?courseId=@course.Id">Участники</a>
	@if (course.HasTeams)
	{
		<a class="ms-4" href="/course/teams?courseId=@course.Id">Команды</a>
	}
	@if (course.CanBeEditedBy(Model.Account))
	{
		<div class="mt-5"></div>
		<a class="btn btn-secondary" href="/course/edit?id=@Model.Object.Id">Редактировать</a>
	}
</div>
