@using HomemadeLMS.Models.Domain
@model CourseObject<CourseMember>
@{
	ViewData["Title"] = "Участник";
	ViewData["NavbarMenu"] = MenuBuilder.DefaultNavbarMenu;

	var roleName = Model.Object.Role switch
	{
		CourseRole.Student => "Студент",
		CourseRole.Assistant => "Ассистент",
		CourseRole.Teacher => "Преподаватель",
		_ => string.Empty,
	};
}

<a href="/account?username=@Model.Object.Username">@Model.Object.Username</a>
<p class="fw-bold mt-3">@roleName</p>
@if (Model.Course.CanBeEditedBy(Model.Account))
{
	<form class="mt-5" method="POST">
		<div class="d-inline-flex mb-4">
			<div>
				<select class="form-control text-center" id="roleCodeInput" name="roleCode">
					<option value="">Выбрать роль</option>
					<option value="@CourseRole.Student.ToString()">Студент</option>
					<option value="@CourseRole.Assistant.ToString()">Ассистент</option>
					<option value="@CourseRole.Teacher.ToString()">Преподаватель</option>
				</select>
			</div>
		</div>
		<div class="d-inline-flex mb-4 ms-4">
			<button type="submit" class="btn btn-secondary">Изменить роль</button>
		</div>
	</form>
	<div class="mt-5">
		<a href="/course/members/?courseId=@Model.Course.Id">Все участники</a>
	</div>
}
