@using HomemadeLMS.Models.Domain
@model Course
@{
	ViewData["Title"] = "Редактирование курса";
	ViewData["NavbarMenu"] = MenuBuilder.DefaultNavbarMenu;
}

<div class="col-12 col-md-10 col-lg-8 col-xl-6" align="left">
	<form method="POST">
		<label class="form-label">Название курса (обязательное поле)</label>
		<input class="form-control" name="title" value="@Model.Title" maxlength="@Course.MaxTitleSize">

		<div class="mt-4"></div>
		<label class="form-label">Описание курса</label>
		<textarea class="form-control" name="description" rows="8"
				  maxlength="@Course.MaxDescriptionSize">@Model.Description</textarea>

		<div class="mt-4"></div>
		<label class="form-label">Ссылка на курс в SmartLMS</label>

		@{var url = Model.SmartLmsUrl;}
		<input class="form-control" name="smartLmsUrl" value="@url" maxlength="@Course.MaxUrlSize">
		
		<div class="mt-4"></div>
		<label class="form-label">Ссылка на ПУД</label>
		<input class="form-control" name="pldUrl" value="@Model.PldUrl" maxlength="@Course.MaxUrlSize">

		<div class="mt-4"></div>
		<label class="form-label">Владелец</label>
		<input class="form-control" name="ownerUsername"
			   value="@Model.OwnerUsername" maxlength="@Account.MaxUsernameSize">

		<div class="mt-4"></div>
		<div class="d-inline-flex">
			<div class="ms-3"></div>
			<div>
				<input id="hasTeamsInput" type="checkbox" class="form-check-input"
					   name="hasTeams" @(Model.HasTeams ? "checked" : "")>
			</div>
			<div class="ms-2"></div>
			<label for="hasTeamsInput">Командный курс</label>
		</div>

		<div class="mt-1"></div>
		<div class="d-inline-flex">
			<div class="ms-3"></div>
			<div>
				<input id="isTeamStateLockedInput" type="checkbox" class="form-check-input"
					   name="isTeamStateLocked" @(Model.IsTeamStateLocked ? "checked" : "")>
			</div>
			<div class="ms-2"></div>
			<label for="isTeamStateLockedInput">
				Зафиксировать существующие команды (не смогут быть изменены студентами)
			</label>
		</div>

		<div class="mt-1"></div>
		<div class="d-inline-flex">
			<div class="ms-3"></div>
			<div>
				<input id="hasRoleTestResultsInput" type="checkbox" class="form-check-input"
					   name="hasRoleTestResults" @(Model.HasRoleTestResults ? "checked" : "")>
			</div>
			<div class="ms-2"></div>
			<label for="hasRoleTestResultsInput">Показывать роли по Белбину для команд</label>
		</div>

		<div class="mt-5" align="center">
			<button type="submit" class="btn btn-secondary">Сохранить</button>
		</div>
	</form>
	<div class="mt-5" align="center">
		<a class="link-custom-secondary" href="/course?id=@Model.Id">Вернуться</a>
	</div>
</div>
