@using HomemadeLMS.Models.Domain
@model Homework
@{
	ViewData["Title"] = "Редактирование задания";
	ViewData["NavbarMenu"] = MenuBuilder.DefaultNavbarMenu;

	string deadlineValueAttr = string.Empty;
	var deadline = Model.Deadline;
	if (deadline is not null)
	{
		var deadlineMsk = ((DateTime)deadline).AddHours(DataUtils.MskHourOffset);
		deadlineValueAttr += "value=" + deadlineMsk.ToString("s");
	}
	var maxTitleSize = Announcement.MaxTitleSize;
	var maxUrlSize = Course.MaxUrlSize;
}

<div class="col-12 col-lg-8" align="left">
	<form method="POST">
		<label class="form-label">Название (обязательное поле)</label>
		<input class="form-control" name="title" value="@Model.Title" maxlength="@maxTitleSize">

		<div class="mt-5"></div>
		<label class="form-label">Описание</label>
		<textarea class="form-control" name="content" rows="12"
				  maxlength="@Announcement.MaxContentSize">@Model.Content</textarea>

		<div class="mt-5"></div>
		<label class="form-label">Ссылка на задание</label>
		<input class="form-control" name="taskUrl" value="@Model.TaskUrl" maxlength="@maxUrlSize">

		<div class="mt-4"></div>
		<label class="form-label">Ссылка для сдачи</label>
		<input class="form-control"  name="submitUrl" value="@Model.SubmitUrl" maxlength="@maxUrlSize">

		<div class="mt-4"></div>
		<label class="form-label">Дополнительная ссылка</label>
		<input class="form-control" name="extraUrl" value="@Model.ExtraUrl" maxlength="@maxUrlSize">

		<div class="mt-4"></div>
		<label class="form-label">Текст дополнительной ссылки</label>
		<input class="form-control" name="extraUrlLabel"
			   value="@Model.ExtraUrlLabel" maxlength="@Homework.MaxUrlLabelSize">

		<div class="mt-4"></div>
		<label class="form-label">Дедлайн</label>
		<div class="d-inline-flex">
			<input class="form-control" name="deadline" type="datetime-local" @deadlineValueAttr>
		</div>

		<div class="mt-4"></div>
		<label>@(Model.IsTeamwork ? "Командное задание" : "Индивидуальное задание")</label>

		<div class="mt-4" align="center">
			<button type="submit" class="btn btn-secondary">Сохранить</button>
		</div>
	</form>
	<div class="mt-5" align="center">
		<a class="link-custom-secondary" href="/course/task?id=@Model.Id">Вернуться</a>
	</div>
</div>
